* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b1d0f;
    color: #fff;
}

header  nav{
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

header nav h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header nav h1 form {
    display: flex;
    justify-content: center;
}
form input[type="text"] {
    flex-grow: 1;
    margin-right: 10x;
}
form input[type="text"],button[type="submit"]  {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #3f3f3f;
    color: #fff;
    cursor: pointer;
}
form button[type="submit"]{
    background-color: #f44336;
    color: #fff;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #9e2523;
    }
    @media screen and (max-width: 480px) {
        font-size: 14px;
    }
}
/* Main Section */
.recipe-container {
    text-align: center;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    padding: 20px;
    place-items: center;
    
}

.recipe {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(78, 73, 73, 0.1),-5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    cursor: pointer;
    width: 350px;

    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.02);
    }
    @media screen and (max-width: 480px) {
        font-size: 14px;
        padding: 10px;
    }
}

.recipe img{
    height: 300px;
}
.recipe h3{
    font-size: 24px;

}
.recipe p {
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0;
}
.recipe span {
    font-weight: 600;
}
.recipe button {
    margin-top: 10px;
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #9e2523;
    }
    @media screen and (max-width: 480px) {
        font-size: 14px;
    }
}
/* Recipe details  */
.recipe-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #694c2f;
    border-radius: 12px;
    padding: 20px;
    z-index: 100;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow: scroll;
    color: #fff;
    overflow-y: auto;
    max-height: 60vh;
    max-width: 40vw;
    overflow-x: hidden;
    @media screen and (max-width: 780px) {
        max-height: 80vh;
        font-size: 18px;
        padding: 10px;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        
    }

    /* display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #694c2f;
    border-radius: 12px;
    padding: 20px;
    z-index: 100;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow: scroll;
    color: #fff;
    overflow-y: auto;
    max-height: 60vh;
    overflow-x: hidden;
    @media screen and (max-width: 780px) {
        max-height: 80vh;
    } */
}

.recipe-details-content {
    padding: 20px;

}
.recipeName{
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
}

.ingredientList li{
    margin-top: 10px;
    margin-left: 20px;
    
}
.recipeInstructions p {
    line-height: 30px;
    white-space: pre-line;
}
.recipeName,
.ingredientList,
.ingredientList{
    margin-bottom: 20px;
}


/* Close button for the recipe details */
.recipe-close-btn {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #9e2523;
    }
    @media screen and (max-width: 480px) {
        font-size: 14px;
    }

}

/*
Adding the scrollbar to the bottom of the popup window will recipe details */
.recipe-details::-webkit-scrollbar{
    width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb {
    background: #b5b5ba;
    border-radius: 16px;
    --webkit-border-radius: 16px;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background: #b5b5ba;
    border-radius: 16px;
    --webkit-border-radius: 16px;
}
body::-webkit-scrollbar-track{
    background: #f2f2f2;
    border-radius: 16px;
    --webkit-border-radius: 16px;
}

/* Responsive code */
@media screen and (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: center;
    }
    header nav form {
        width: 80%;
        margin-top: 20px;
    }
}